.image-det-container{
    border: 1px solid purple;
}
.details-container{
    border: 1px solid orange;
    display: block;

}
.full-spot{
    border: 2px solid green;
}
.details-price-rating{
    border: 5px solid orangered;

}
.new-rating{
    border: 5px solid orangered;
}
.details-price-reviews{
   background-color: pink;
}
.reviews-comments-container{
    background-color: greenyellow;
}