.spot-tile{
    border: 1px solid orange;
    color:black;
}
.spot-tile-details{
    border: 1px solid green;
}
.c-stars{
    border: 1px solid blue;
    text-align: right;
    
}
.spot-image{
    max-width: 300px;
    max-height: 300px;
}