.spot-tile{
    border: 1px solid orange;
    color:black;
    background-color: rgb(239, 239, 239);
}
.spot-tile :hover{
    background-color: white;
}
.spot-title{
    font-size: large;
}
.spot-tile-details{
    border: 1px solid green;
}
.c-stars{
    border: 1px solid blue;
    text-align: right;
    
}
.spot-image{
    width: 250px;
    height: 250px;
    margin: 10px;
}