.profile-button {
    background: none;
    border: 1px solid black;
    border-radius: 40%;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}
.log-out-button{
    background-color: rgb(209, 24, 24);
    border-radius: 40%;
}
.profile-dropdown {
    position: absolute;
    top: 40px;
    /* Adjust based on your button's size */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 200px;
    /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-dropdown.hidden {
    display: none;
}
