#modal-content {
    width: 50%;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    text-align: center;
}
input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.error {
    color: red;
    margin-top: 10px;
}

button[type='submit'] {
    background-color: white;
    color: grey;
    border: 1px solid grey;
    cursor: not-allowed;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 4px;
}

button[type='submit']:enabled {
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

h3 {
    text-decoration: underline;
    color: darkslategrey;
    cursor: pointer;
    margin-top: 20px;
}